@import "./../../assets/styles/colors.scss";

.mail-panel .main-panel__pages{
 .image-container{
  text-align: center;
  padding: 40px 0px 0 0;
 }
}

.datagrid {
 table {
   border-collapse: collapse;
   text-align: left;
   width: 100%;
   tbody tr:hover {
     background-color:$white2;
     transition: background-color 0.5s ease-in;
     td {
       background-color: $white2;
       transition: background-color 0.5s ease-in;
       span{
        cursor: pointer;
       }
     }
   }
   thead th {
     border-bottom: 1px solid $white3;
     padding: 20px 5px;
     color: $dark_grey;
     text-align: center;
     font-weight: bold;
   }
   tbody td {
     font-size: 12px;
     font-weight: normal;
     color: $grey1 !important;
     border-bottom: 1px solid $white5;
     padding: 20px 5px;
     text-align: center;
   }
   tfoot {
     td {
       div {
         border-top: 1px solid $white3;
         padding: 4px;
       }
       padding: 0;
       font-size: 10px;
       ul {
         margin: 0;
         padding: 0;
         list-style: none;
         text-align: right;
       }
     }
     li {
       display: inline;
     }
   }
 }
 font: normal 12px/150% 'Muli', sans-serif;
 background: $white;
 overflow: hidden;
}

#paging {
 cursor: pointer;
}

.datagrid table tfoot {
 li a {
   text-decoration: none;
   display: inline-block;
   padding: 2px 8px;
   margin: 1px;
   color: $purple;
   background-color: $white;
 }
 ul {
   &.active, a:hover {
     text-decoration: none;
     border-color: $purple;
     color: $white4;
     background: none;
     background-color: $purple;
     transition: background-color 0.3s ease-in;
   }
 }
}

.card {
 border: 1px solid $white4;
 height: 100%;
 width: 90vw;
 margin: 5vw;
 box-shadow: 0px 0px 5px 1px $white3;
 .form{
  width: 65vw;
  margin: 1vw 12vw;
 }
}